<div class="container">
    <div class="project-container">
        <p>portfolio</p>
        <h3>Each project is a unique piece of development 🧩</h3>
        <div class="projects-grid">

            <div class="project-row">
                <div class="project-img">
                    <a href="#"><img src="../../../assets/img/join.png" alt=""></a>
                </div>
                <div class="project-text">
                    <h3>Join</h3>
                    <p>Join is a Kanban software that simplifies project management, optimizes workflows, and boosts
                        productivity. With customizable boards and automated workflows, teams can track progress and
                        collaborate seamlessly.</p>
                    <div class="stack">
                        <p>HTML</p>
                        <p>CSS</p>
                        <p>JavaScript</p>
                    </div>
                    <div class="links">
                        <a href="#">Code</a>
                        <a href="#">Live Demo</a>
                    </div>
                </div>
            </div>


            <div class="project-row reverse">
                <div class="project-img">
                    <a href="#"><img src="../../../assets/img/join2.png" alt=""></a>
                </div>
                <div class="project-text">
                    <h3>Join 2.0</h3>
                    <p>Join is a Kanban software that simplifies project management, optimizes workflows, and boosts
                        productivity. With customizable boards and automated workflows, teams can track progress and
                        collaborate seamlessly.</p>
                    <div class="stack">
                        <p>HTML</p>
                        <p>CSS</p>
                        <p>JavaScript</p>
                    </div>
                    <div class="links">
                        <a href="#">Code</a>
                        <a href="#">Live Demo</a>
                    </div>
                </div>
            </div>

            <div class="project-row">
                <div class="project-img">
                    <a href="#"><img src="../../../assets/img/pokedex.png" alt=""></a>
                </div>
                <div class="project-text">
                    <h3>Pokedex</h3>
                    <p>Based on the PokeAPI a simple library that provides and catalogues pokemon information.</p>
                    <div class="stack">
                        <p>HTML</p>
                        <p>CSS</p>
                        <p>JavaScript</p>
                        <p>API</p>
                    </div>
                    <div class="links">
                        <a href="#">Code</a>
                        <a href="#">Live Demo</a>
                    </div>
                </div>
            </div>

            <div class="project-row reverse">
                <div class="project-img">
                    <a href="#"><img src="../../../assets/img/polloloco.png" alt=""></a>
                </div>
                <div class="project-text">
                    <h3>El Pollo Loco</h3>
                    <p>In El Pollo Loco, players help Pepe fight off chickens using a throwable glass bottle and the
                        ability to jump on them. It's a unique and fun game for all ages.</p>
                    <div class="stack">
                        <p>HTML</p>
                        <p>CSS</p>
                        <p>JavaScript</p>
                    </div>
                    <div class="links">
                        <a href="#">Code</a>
                        <a href="#">Live Demo</a>
                    </div>
                </div>
            </div>

            <div class="project-row">
                <div class="project-img">
                    <a href="#"><img src="../../../assets/img/new-portfolio.png" alt=""></a>
                </div>
                <div class="project-text">
                    <h3>Personal Portfolio</h3>
                    <p>My portfolio features projects utilizing Angular, showcasing visually captivating with a focus on
                        web development.</p>
                    <div class="stack">
                        <p>HTML</p>
                        <p>SCSS</p>
                        <p>Angular</p>
                    </div>
                    <div class="links">
                        <a href="#">Code</a>
                        <a href="#">Live Demo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>