.container {
    margin: 0 auto;
    max-width: 107rem;
    padding: 150px 4rem 150px 4rem;
    border-bottom: 1px solid rgba(193, 206, 222, 0.57);
    .project-container {
        display: flex;
        flex-direction: column;
        p {
            color: #1d1d1f;
            font-size: 2.5rem;
            font-weight: 700;
            margin-bottom: 1rem;
            text-transform: uppercase;
        }
        h3 {
            color: #1d1d1f;
            font-size: 2rem;
            margin-bottom: 6rem;
            font-weight: 400;
        }
        .projects-grid {
            grid-gap: 5rem;
            display: grid;
            gap: 5rem;
            grid-template-columns: 1fr;
            grid-template-rows: auto auto;
            height: auto;
            width: 100%;
            @media (max-width: 1304px) {
                justify-content: center;
                align-items: center;
                display: flex;
                flex-direction: column;
            }
            .reverse {
                flex-direction: row-reverse !important;
                @media (max-width: 480px) {
                    flex-direction: column !important;
                    padding: 0;
                }
            }
            .project-row {
                flex-direction: row;
                gap: 8rem;
                // height: 40rem;
                padding: 2rem;
                background-color: #fff;
                border-radius: 1.7rem;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                display: flex;
                @media (max-width: 1304px) {
                    flex-direction: column !important;
                }
                @media (max-width: 480px) {
                    padding: 0;
                }
                .project-img {
                    // background-color: hsla(0, 0%, 46%, 0.2);
                    border-radius: 1.7rem;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                    height: auto;
                    overflow: hidden;
                    width: 30rem;
                    transition: all 250ms ease;
                    @media (max-width: 821px) {
                        width: unset;
                    }
                   a {
                    @media (max-width: 480px) {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                   }
                    &:hover {
                        box-shadow: 0 1.5rem 3.4rem rgba(0, 0, 0, 0.3), 0 1.5rem 1.2rem rgba(0, 0, 0, 0.22);
                        transform: translate(0, -1rem);
                    }
                    img {
                        height: auto;
                        width: 100%;
                        @media (max-width: 480px) {
                            width: 80%;
                        }
                    }
                }
                .project-text {
                    display: flex;
                    flex-direction: column;
                    height: auto;
                    justify-content: center;
                    text-align: center;
                    width: 35rem;
                    @media (max-width: 480px) {
                        width: 100svw;
                        padding: 16px;
                    }
                    h3 {
                        color: #1d1d1f;
                        font-size: 1.7rem;
                        margin-bottom: 2rem;
                        position: relative;
                        text-transform: uppercase;
                        font-weight: 700;
                    }
                    p {
                        color: #767676;
                        font-size: 1.4rem;
                        font-weight: 500;
                        text-align: center;
                        text-transform: none;
                        margin-bottom: 1rem;
                    }
                    .stack {
                        display: flex;
                        gap: 1rem;
                        justify-content: center;
                        margin-top: 1rem;
                        flex-wrap: wrap;
                        p {
                            background-color: #fff;
                            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                            color: #af0a2a !important;
                            font-weight: 600 !important;
                            padding: 1rem 1.3rem;
                            text-align: center;
                            text-transform: none;
                            cursor: default;
                            transition: all 250ms ease;
                            &:hover {
                                border-radius: 2rem;
                            }
                        }
                    }
                    .links {
                        align-items: center;
                        display: flex;
                        gap: 1rem;
                        justify-content: space-evenly;
                        margin-top: 3rem;
                        a {
                            color: #2997ff;
                            font-size: 1.7rem;
                            font-weight: 500;
                            gap: 5px;
                            text-decoration: none;
                            align-items: center;
                            display: flex;
                            &:hover {
                                color: #147efb;
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
            .project-reverse {
                gap: 8rem;
                height: 40rem;
                padding: 2rem;
                background-color: #fff;
                border-radius: 1.7rem;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                display: flex;
                flex-direction: row-reverse;
            }
        }
    }
}
