 <section id="projects">
    <div class="header">
      <p class="headline">portfolio</p>
      <h3 class="underline" translate>Each project is a unique piece of development 🧩</h3>
    </div>
  
    <div class="container">
      <div class="project-grid" *ngFor="let project of projects">
        <div class="project-container" >
          <div class="image-wrapper">
            <a href="{{ project.demoLink }}" target="_blank">
              <figure class="image" [style.background-image]="'url(' + project.image + ')'"></figure>
            </a>
          </div>
  
          <div class="project-content">
            <h3>{{ project.name }}</h3>
            <p translate class="description">{{ project.description }}</p>
            <p class="technology">
              <span *ngFor="let tech of project.stack">{{ tech }}</span>
            </p>
            <a href="{{ project.demoLink }}" target="_blank">Live Demo</a>
            <div class="git-container">
              <p>
                <a class="code" href="{{ project.codeLink }}" target="_blank">Show Code</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  



<!-- OLD STYLE START -->

  <!-- <div id="projects" class="container">
    <div class="project-container">
        <p>portfolio</p>
        <h3 translate>Each project is a unique piece of development 🧩</h3>
        <div class="projects-grid">
            <div *ngFor="let project of projects; let i = index" [class.reverse]="i % 2 !== 0" class="project-row">
                <div class="project-img">
                    <a [href]="project.demoLink"><img [src]="project.image" alt=""></a>
                </div>
                <div class="project-text">
                    <h3>{{ project.name }}</h3>
                    <p translate>{{ project.description }}</p>
                    <div class="stack">
                        <p *ngFor="let tech of project.stack">{{ tech }}</p>
                    </div>
                    <div class="links">
                        <a [href]="project.codeLink" target="_blank">Code</a>
                        <a [href]="project.demoLink" target="_blank">Live Demo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 -->

 <!-- OLD STYLE END -->