 section {
    background-color: #161617;
    padding-top: 100px;
 }

 .header {
    margin-top: 68px;
    background-color: #161617;
    text-align: center;
    .underline {
        color: #f5f5f7;
        font-size: 2rem;
        margin-bottom: 6rem;
        font-weight: 400;
        padding-left: 1rem;
            padding-right: 1rem;
        @media (max-width: 670px ) {
            font-size: 1.5rem;
        }
    }

    .headline {
        color: #f5f5f7;
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
        text-transform: uppercase;
    }
 }

.container {
    /* max-width: 940px; */
    padding: 0px 4rem 150px 4rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 40px;
    grid-column-gap: 34px;
    background-color: #161617;
    @media (max-width: 1022px ) {
        margin-bottom: 2rem;
        grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 805px ) {
        margin-bottom: 2rem;
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 580px ) {
        margin-bottom: 2rem;
        grid-template-columns: repeat(1, 1fr);
    }
    

    .project-grid {
        padding-bottom: 35px;
        border-bottom: 1px solid #cecece;
        margin-bottom: 0;
        .project-container {
            .image-wrapper {
                a {
                    text-decoration: none;
                    color: #2997ff;
                }
                .image {
                    /* width: 190px; */
                    height: 257px;
                    background-size: 235px 257px;
                    background-position: center;
                    background-repeat: no-repeat;
                    /* background-image: url(../../../assets/img/flixhub.png); */
                }
            }

            .project-content {
                position: relative;
                z-index: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                h3 {
                    color: #f5f5f7;
                    font-weight: 600;
                }
                .description {
                    color: #f5f5f7;
                    max-width: 180px;
                    margin-top: 7px;
                    min-height: 160px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .technology {
                    margin-top: 11px;
                    font-size: 14px;
                    line-height: 1.4285914286;
                    font-weight: 400;
                    letter-spacing: -0.016em;
                    color: #f5f5f7;
                    span {
                        margin-right: 5px;
                    }
                    span:first-child {
                        color: #bf0013;
                    }
                    span:nth-child(2) {
                        color: #276787;
                    }
                    span:last-child {
                        color: #998ca0;
                    }
                }
                a {
                    background: #0071e3;
                    margin-top: 16px;
                    color: #fff;
                    border-color: transparent;
                    text-decoration: none;
                    font-size: 14px;
                    line-height: 1.3333733333;
                    font-weight: 400;
                    letter-spacing: -0.01em;
                    border-style: solid;
                    border-width: 1px;
                    min-width: 25px;
                    padding: 3px 10px;
                    cursor: pointer;
                    display: inline-block;
                    text-align: center;
                    white-space: nowrap;
                    border-radius: 980px;
                    border: 1px solid transparent;
                    --sk-button-margin-horizontal: 10px;
                    --sk-button-margin-vertical: 10px;
                    &:hover {
                        background: #06c;
                    }
                }
                .git-container {
                    padding-top: 11px;
                    p {
                        font-size: 14px;
                        line-height: 1.4285914286;
                        font-weight: 400;
                        letter-spacing: -0.016em;
                    }
                    .code {
                        color: #2997ff;
                        background: unset;
                        text-decoration: none;
                        letter-spacing: inherit;
                        font-weight: 400;
                        font-size: 14px;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}



/* OLD STYLE START */

/* .container {
    margin: 0 auto;
    max-width: 107rem;
    padding: 150px 4rem 150px 4rem;
    border-bottom: 1px solid rgba(193, 206, 222, 0.57);
    .project-container {
        display: flex;
        flex-direction: column;
        p {
            color: #1d1d1f;
            font-size: 2.5rem;
            font-weight: 700;
            margin-bottom: 1rem;
            text-transform: uppercase;
        }
        h3 {
            color: #1d1d1f;
            font-size: 2rem;
            margin-bottom: 6rem;
            font-weight: 400;
        }
        .projects-grid {
            grid-gap: 5rem;
            display: grid;
            gap: 5rem;
            grid-template-columns: 1fr;
            grid-template-rows: auto auto;
            height: auto;
            width: 100%;
            @media (max-width: 1304px) {
                justify-content: center;
                align-items: center;
                display: flex;
                flex-direction: column;
            }
            .reverse {
                flex-direction: row-reverse !important;
                @media (max-width: 480px) {
                    flex-direction: column !important;
                    padding: 0;
                }
            }
            .project-row {
                flex-direction: row;
                gap: 8rem;
                // height: 40rem;
                padding: 2rem;
                background-color: #fff;
                border-radius: 1.7rem;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                display: flex;
                @media (max-width: 1304px) {
                    flex-direction: column !important;
                }
                @media (max-width: 480px) {
                    padding: 0;
                }
                .project-img {
                    // background-color: hsla(0, 0%, 46%, 0.2);
                    border-radius: 1.7rem;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
                    height: auto;
                    overflow: hidden;
                    width: 30rem;
                    transition: all 250ms ease;
                    @media (max-width: 821px) {
                        width: unset;
                    }
                   a {
                    @media (max-width: 480px) {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                   }
                    &:hover {
                        box-shadow: 0 1.5rem 3.4rem rgba(0, 0, 0, 0.3), 0 1.5rem 1.2rem rgba(0, 0, 0, 0.22);
                        transform: translate(0, -1rem);
                    }
                    img {
                        height: auto;
                        width: 100%;
                        @media (max-width: 480px) {
                            width: 80%;
                        }
                    }
                }
                .project-text {
                    display: flex;
                    flex-direction: column;
                    height: auto;
                    justify-content: center;
                    text-align: center;
                    width: 35rem;
                    @media (max-width: 480px) {
                        width: 100svw;
                        padding: 16px;
                    }
                    h3 {
                        color: #1d1d1f;
                        font-size: 1.7rem;
                        margin-bottom: 2rem;
                        position: relative;
                        text-transform: uppercase;
                        font-weight: 700;
                    }
                    p {
                        color: #767676;
                        font-size: 1.4rem;
                        font-weight: 500;
                        text-align: center;
                        text-transform: none;
                        margin-bottom: 1rem;
                    }
                    .stack {
                        display: flex;
                        gap: 1rem;
                        justify-content: center;
                        margin-top: 1rem;
                        flex-wrap: wrap;
                        p {
                            background-color: #fff;
                            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                            color: #af0a2a !important;
                            font-weight: 600 !important;
                            padding: 1rem 1.3rem;
                            text-align: center;
                            text-transform: none;
                            cursor: default;
                            transition: all 250ms ease;
                            &:hover {
                                border-radius: 2rem;
                            }
                        }
                    }
                    .links {
                        align-items: center;
                        display: flex;
                        gap: 1rem;
                        justify-content: space-evenly;
                        margin-top: 3rem;
                        a {
                            color: #2997ff;
                            font-size: 1.7rem;
                            font-weight: 500;
                            gap: 5px;
                            text-decoration: none;
                            align-items: center;
                            display: flex;
                            &:hover {
                                color: #147efb;
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
            .project-reverse {
                gap: 8rem;
                height: 40rem;
                padding: 2rem;
                background-color: #fff;
                border-radius: 1.7rem;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                display: flex;
                flex-direction: row-reverse;
            }
        }
    }
}
 */

 /* OLD STYLE END */
