<div class="container" id="contact">
    <div class="contact-container">
        <div class="contact-title">
            <p>Contact</p>
            <h3>Don't be shy! Hit me up! 👇</h3>
        </div>
        <div class="contact-icons">
            <div class="contact-icon-box">
                <span><img src="../../../assets/img/icons/map.png" alt=""></span>
                <div class="contact-info">
                    <h3>Location</h3>
                    <p>Luzern, Switzerland</p>
                </div>
            </div>
            <div class="contact-icon-box">
                <span><img src="../../../assets/img/icons/mail.png" alt=""></span>
                <div class="contact-info">
                    <h3>Mail</h3>
                    <a href="mailto:fabian.caspers1308@gmail.com"><p>fabian.caspers1308@gmail.com</p></a>
                </div>
            </div>
        </div>
    </div>
</div>
