.container {
    padding: 150px 4rem 150px 4rem;
    border-bottom: 1px solid rgba(193, 206, 222, 0.57);
    margin: 0 auto;
    max-width: 107rem;
    .contact-container {
        display: flex;
        flex-direction: column;
        .contact-title {
            p {
                color: #147efb;
                font-size: 1.7rem;
                font-weight: 700;
                margin-bottom: 1rem;
                text-transform: uppercase;
            }
            h3 {
                color: #2d2e32;
                font-size: 2.5rem;
            }
        }
        .contact-icons {
            display: flex;
            flex-wrap: wrap;
            gap: 8rem;
            margin-top: 6rem;
            .contact-icon-box {
                align-items: center;
                display: flex;
                gap: 1.5rem;
                span {
                    background-color: #fff;
                    border-radius: 50%;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                    padding: 1rem;
                    img {
                        width: 48px;
                        height: 48px;
                    }
                }
                .contact-info {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    h3 {
                        color: #2d2e32;
                        font-size: 1.7rem;
                    }
                    p {
                        color: #767676;
                        cursor: pointer;
                        font-size: 1.7rem;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
