<div class="content">
    <div id="about" class="about-me-container">

        <div class="about-me-header">
            <img src="../../../assets/img/ich.png" alt="">
            <div class="about-me-text">
                <h1 translate>About Me</h1>
                <p translate>I'm a 30-year-old Frontend Developer who loves solving problems and taking on new
                    challenges.</p>
            </div>
        </div>

        <hr>

        <div class="about-me-body">

            <div class="cv-boxes green">
                <div class="icon-container">
                    <img src="../../../assets/img/icons/search-line.png" alt="">
                </div>
                <div class="text-container">
                    <p translate class="headline">I searched for Help</p>
                    <p translate>
                        To learn more efficiently, I sought professional support and chose the Developer Academy in
                        Munich. Besides my main job, I quickly gained the basic knowledge of frontend web development
                        there through projects in individual and team work.
                    </p>
                </div>
            </div>

            <div class="cv-boxes red">
                <div class="icon-container">
                    <img src="../../../assets/img/icons/heart-line.png" alt="">
                </div>
                <div class="text-container">
                    <p translate class="headline">My Passion</p>
                    <p translate>
                        The insight into programming confirmed my decision. I love web application development and
                        challenges. Every project brings new insights. Programming brings me joy!
                    </p>
                </div>
            </div>

            <div class="cv-boxes yellow">
                <div class="icon-container">
                    <img src="../../../assets/img/icons/flight-takeoff-line.png" alt="">
                </div>
                <div class="text-container">
                    <p translate class="headline">My Goals</p>
                    <p translate>
                        I would like to deepen my knowledge in the field of frontend development and am therefore
                        looking for a chance to join an interesting team, to support this team and develop
                        professionally as well as personally.
                    </p>
                </div>
            </div>

        </div>

    </div>
</div>