.content {
    background-color: #fff;
    width: 100%;
}
.about-me-container {
    max-width: 107rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    color: #000;
    padding: 150px 4rem 100px 4rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    
    .about-me-header {
        display: flex;
        margin-bottom: 60px;
        
        img {
            width: 200px;
            height: 200px;
            object-fit: cover;
            border-radius: 100%;
            object-position: 0 15px;
        }
        
        .about-me-text {
            text-align: center;
            width: 350px;
            margin-left: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: #000;
            
            h1 {
                margin-bottom: 1rem;
                color: #000;
                text-transform: uppercase;
                font-size: 3rem;
            }
            
            p {
                font-size: 1.1rem;
                line-height: 1.5;
            }
        }
    }
    
    hr {
        border-color: rgba(255, 255, 255, 0.5);
        width: 100%;
    }
    
    .about-me-body {
        display: flex;
        justify-content: space-evenly;
        margin-top: 60px;
        width: 100%;
        
        .cv-boxes {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            width: 250px;
            font-size: 1rem;
            
            &.blue {
                .icon-container {
                    background: linear-gradient(to bottom right, #0070c9, #004785);
                }
                
                .text-container {
                    .headline {
                        color: #0070c9;
                    }
                }
            }
            
            &.green {
                .icon-container {
                    background: linear-gradient(to bottom right, #4caf50, #2e7d32);
                }
                
                .text-container {
                    .headline {
                        color: #4caf50;
                    }
                }
            }
            
            &.yellow {
                .icon-container {
                    background: linear-gradient(to bottom right, #f9a825, #c17900);
                }
                
                .text-container {
                    .headline {
                        color: #f9a825;
                    }
                }
            }
            
            &.red {
                .icon-container {
                    background: linear-gradient(to bottom right, #d50000, #8e0000);
                }
                
                .text-container {
                    .headline {
                        color: #d50000;
                    }
                }
            }
            
            .icon-container {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #3d3d3d;
                border-radius: 50%;
                width: 70px;
                height: 70px;
                margin-bottom: 1rem;
                
                img {
                    width: 30px;
                    height: 30px;
                    object-fit: cover;
                }
            }
            
            .text-container {
                .headline {
                    margin-bottom: 1rem;
                    text-transform: uppercase;
                    color: #000;
                    text-transform: uppercase;
                    font-weight: 800;
                }
                
                p {
                    line-height: 1.5;
                    color: #000;
                    font-weight: 500;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .about-me-body {
        flex-direction: column;
        margin-top: 0 !important;

        .cv-boxes {
            width: unset !important;
            margin-top: 60px;
        }
    }
}

@media (max-width: 821px) {
    .about-me-header {
        flex-direction: column;
        align-items: center;

        .about-me-text {
            margin-left: unset !important;
            margin-top: 60px;
            width: unset !important;
        }
    }
}

@media (max-width: 425px) {
    .about-me-header {
        flex-direction: column;
        align-items: center;

        .about-me-text {
            margin-left: unset !important;
            margin-top: 60px;
            width: unset !important;
        }
    }
}