header {
    padding: 16px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    width: 100svw;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.8); /* Setzen Sie den Hintergrund auf weiß mit 70% Transparenz */
    backdrop-filter: blur(10px); /* Weichzeichner (blur) Effekt */
    z-index: 1;
    a {
        padding: 8px;
        text-decoration: none;
        color: #353b47;
        font-size: 16px;
        line-height: 1.1em;
        font-weight: 400;
        letter-spacing: 0px;
        transition: color 200ms ease;
        &:hover {
            color: #5463a0;
        }
    }
    .menu {
        position: relative;
        float: right;
    }
}
