<div id="home" class="home-container">
    <div class="content">
        <div class="hero-main">
            <div class="hero-text">
                <h1>Frontend Angular Developer<img src="../../../assets/img/icons/hello.png" alt=""></h1>
                
                <p>Hi, I'm Fabian Caspers. A passionate Frontend Angular Developer based in Luzern, Switzerland.📍</p>
                <span>
                    <a href="mailto:fabian.caspers1308@gmail.com" target="_blank"><img src="../../../assets/img/icons/mail.png" alt="gmail"></a>
                    <a href="https://www.linkedin.com/in/fabian-caspers-927783261/" target="_blank"><img src="../../../assets/img/icons/linkedin.png" alt="linkedin"></a>
                    <a href="https://github.com/FabianCaspers" target="_blank"><img src="../../../assets/img/icons/github.png" alt=""></a>
                </span>
            </div>
            <div class="hero-img"></div>
        </div>



        <div class="skills">
            <p>Tech Stack</p>
            <div class="logos">
                <ul>
                    <li><img src="../../../assets/img/tech/html.png" alt=""></li>
                    <li><img src="../../../assets/img/tech/css.png" alt=""></li>
                    <li><img src="../../../assets/img/tech/javascript.png" alt=""></li>
                    <li><img src="../../../assets/img/tech/typescript.png" alt=""></li>
                    <li><img src="../../../assets/img/tech/nodejs.png" alt=""></li>
                    <li><img src="../../../assets/img/tech/angular.png" alt=""></li>
                    <li><img src="../../../assets/img/tech/git.png" alt=""></li>
                    <li><img src="../../../assets/img/tech/figma.png" alt=""></li>
                </ul>
            </div>
        </div>




    </div>
</div>
